# Introduction to `Python`

:::{note}
This material is mostly adapted from the following resources:
- [Earth and Environmental Data Science: Python Fundamentals](https://earth-env-data-science.github.io/lectures/core_python/python_fundamentals.html)
- [Earth and Environmental Data Science: Functions and Classes](https://earth-env-data-science.github.io/lectures/core_python/functions_classes.html)
- [Python Programming for Data Science: Basics](https://www.tomasbeuzen.com/python-programming-for-data-science/chapters/chapter1-basics.html)
- [Data Science for Energy System Modelling: Introduction to python](https://fneum.github.io/data-science-for-esm/01-workshop-python.html)

Further excellent introductions to Python can be found at
- [learnpython.org](https://www.learnpython.org)
- [pythontutorial.net](https://www.pythontutorial.net)
- [python-course.eu](https://python-course.eu)
- [edx course: Using Python for Research](https://www.edx.org/es/course/using-python-for-research )
- [Datacamp: Introduction to Python](https://www.datacamp.com/courses/intro-to-python-for-data-science )
:::

If you are familiar with python, you can just jump to the next section.

## Running Python ##

There are three main ways to use Python.

1. By running a Python file, e.g. `python myscript.py`
2. In an interactive notebook (e.g. [Jupyter](https://jupyter.org/), `.ipynb` files)
3. Through an integrated development environment (e.g. [Sypder](https://www.spyder-ide.org/)). If you have never used Python, but you have previous experience with Matlab, you may like the Spyder interface, which behaves very similar to Matlab.

In this course, we will mostly be interacting with Python via **Jupyter notebooks**. If you prefer to use the  Spyder interface,  you can just open de notebook with jupyter, select `File/Download as Python(.py)` and open it with Spyder.

:::{note}
If you have not yet set up Python on your computer, you can execute this tutorial in your browser via [Google Colab](https://colab.research.google.com/). Click on the rocket in the top right corner and launch "Colab". If that does not work download the `.ipynb` file and import it in [Google Colab](https://colab.research.google.com/)
:::

## Basic Variables: Numbers and String ##

In [2]:
# comments are anything that comes after the "#" symbol
a = 1  # assign integer 1 to variable a
b = "hello"  # assign string "hello" to variable b

The following identifiers are used as reserved words and should not be used as variable names:

    False      class      finally    is         return
    None       continue   for        lambda     try
    True       def        from       nonlocal   while
    and        del        global     not        with
    as         elif       if         or         yield
    assert     else       import     pass
    break      except     in         raise
    
Additionally, the following built-in utility functions are always available:

    abs() dict() help() min() setattr() all() dir() hex() next() slice() any()
    divmod() id() object() sorted() ascii() enumerate() input() oct() staticmethod()
    bin() eval() int() open() str() bool() exec() isinstance() ord() sum() bytearray()
    filter() issubclass() pow() super() bytes() float() iter() print() tuple()
    callable() format() len() property() type() chr() frozenset() list() range()
    vars() classmethod() getattr() locals() repr() zip() compile() globals() map()
    reversed() __import__() complex() hasattr() max() round() delattr() hash()
    memoryview() set()

In [3]:
# how to we see our variables?
print(a)
print(b)
print(a, b)

1
hello
1 hello

All variables are objects. Every object has a type (class). 

Some type of variables used in Python are integers, floating point numbers, strings, etc.

To find out what type your variables are

In [4]:
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

As a shortcut, iPython notebooks will automatically print whatever is on the last line:

In [5]:
type(b)

str

We can check for the type of an object:

In [6]:
print(type(a) is int)
print(type(a) is str)

True
False

The `NoneType` is its own type in Python. It only has one possible value, `None` - it represents an object with no value.

In [7]:
n = None

In [8]:
print(n)

None

In [9]:
type(n)

NoneType

Objects can have **attributes** and **methods**, which can be accessed via ``variable.method``

You can use autocomplete by pressing ``<tab>`` to show you the methods available.

In [10]:
# this returns the method itself
b.capitalize

In [11]:
# this calls the method
b.capitalize()

'Hello'

## String Operators ##

Basic operations to modify strings.

In [27]:
s = "HOW ARE YOU TODAY?"

In [28]:
split = s.split(" ")

In [29]:
split

['HOW', 'ARE', 'YOU', 'TODAY?']

In [30]:
"-".join(split)

'HOW-ARE-YOU-TODAY?'

Python has ways of creating strings by filling in the blanks and formatting them nicely.

This is helpful when you want to *print* statements that include variables or statements.

In [13]:
name = "Bhadla Solar Park"
capacity = 2.245
technology = "photovoltaic"
message = f"In India, there is a {technology} power named plant {name}. It has a nominal capacity of {capacity:.2f} GW."
message

'In India, there is a photovoltaic power named plant Bhadla Solar Park. It has a nominal capacity of 2.25 GW.'

## Math ##

Basic arithmetic and boolean logic is part of the core Python library.

In [32]:
# addition / subtraction
1 + 1 - 5

-3

In [33]:
# multiplication
5 * 10

50

In [34]:
# division
1 / 2

0.5

In [35]:
# that was automatically converted to a float
type(1 / 2)

float

In [36]:
# exponentiation
2**4

16

In [37]:
# rounding
round(9 / 10)

1

In [38]:
# floor division
101 // 2

50

In [39]:
# modulo
101 % 2

1

## Comparison Operators

We can compare objects using comparison operators, and we'll get back a Boolean (i.e. True/False) result:

| Operator  | Description                          |
| :-------- | :----------------------------------- |
| `x == y ` | is `x` equal to `y`?                 |
| `x != y`  | is `x` not equal to `y`?             |
| `x > y`   | is `x` greater than `y`?             |
| `x >= y`  | is `x` greater than or equal to `y`? |
| `x < y`   | is `x` less than `y`?                |
| `x <= y`  | is `x` less than or equal to `y`?    |
| `x is y`  | is `x` the same object as `y`?       |

In [40]:
2 < 3

True

In [41]:
"energy" == "power"

False

In [42]:
2 != "2"

True

In [43]:
2 == 2.0

True

## Boolean Operators

We also have so-called "boolean operators" or "logical operators" which also evaluate to either `True` or `False`:

| Operator | Description |
| :---: | :--- |
|`x and y`| are `x` and `y` both True? |
|`x or y` | is at least one of `x` and `y` True? |
| `not x` | is `x` False? |

In [44]:
# logic
True and True

True

In [45]:
True and False

False

In [46]:
True or True

True

In [47]:
(not True) or (not False)

True

## Conditionals ##

Conditionals are the first step to programming and offer an opportunity to get familiar with Python syntax.
At their core, conditionals allow a program to make decisions. They dictate the flow of execution based on whether certain conditions are met.

In [48]:
x = 100
if x > 0:
    print("Positive Number")
elif x < 0:
    print("Negative Number")
else:
    print("Zero!")

Positive Number

In Python, indentation is **mandatory** and blocks of code are closed by the indentation level.

In [49]:
if x > 0:
    print("Positive Number")
    if x >= 100:
        print("Huge number!")

Positive Number
Huge number!

There is also a way to write `if` statements "inline", i.e., in a single line, for simplicity.

In [50]:
words = ["the", "list", "of", "words"]

x = "long list" if len(words) > 10 else "short list"
x

'short list'

## Loops ##

**Loops** tell a program to perform repetitive tasks.
They govern the flow of execution by repeatedly processing a block of code, often until a certain condition is reached or for a predefined number of iterations.

There are two types of loops: the `for` loop, which iterates over a sequence of values, and the `while` loop, which continues execution as long as a specified condition remains true.

In [51]:
# make a loop
count = 0
while count < 10:
    # bad way
    # count = count + 1
    # better way
    count += 1
print(count)

10

In [52]:
# use range
for i in range(5):
    print(i)

0
1
2
3
4

:::{note}
In Python, we always count from 0!
:::

In [54]:
# what is range?
?range

In [14]:
# iterate over a list we make up
for irradiance in ["direct", "diffuse", "reflected"]:
    print(irradiance, len(irradiance))

direct 6
diffuse 7
reflected 9

In [15]:
# iterate over a list and count indices
for i, irradiance in enumerate(["direct", "diffuse", "reflected"]):
    print(i, irradiance, len(irradiance))

0 direct 6
1 diffuse 7
2 reflected 9

What do the brackets mean? __A list!__ Lists are one of the core Python data structures.

## Lists ##

In [16]:
l = ["direct", "diffuse", "reflected"]
type(l)

list

In [17]:
# list have lots of methods
l.sort()
l

['diffuse', 'direct', 'reflected']

In [59]:
# we can convert a range to a list
r = list(range(5))
r

[0, 1, 2, 3, 4]

There are many different ways to interact with lists. For instance:

| Function      | Description                                                  |
|---------------|--------------------------------------------------------------|
| `list.append(x)` | Add an item to the end of the list.                          |
| `list.extend(L)` | Extend the list by appending all the items in the given list. |
| `list.insert(i, x)` | Insert an item at a given position.                       |
| `list.remove(x)` | Remove the first item from the list whose value is x.          |
| `list.pop([i])` | Remove the item at the given position in the list, and return it. |
| `list.index(x)` | Return the index in the list of the first item whose value is x. |
| `list.count(x)` | Return the number of times x appears in the list.              |
| `list.sort()`   | Sort the items of the list in place.                          |
| `list.reverse()` | Reverse the elements of the list in place.    |

In [60]:
# join two lists
x = list(range(5))
y = list(range(10, 15))
z = x + y
z

[0, 1, 2, 3, 4, 10, 11, 12, 13, 14]

In [61]:
# access items from a list
print("first", z[0])
print("last", z[-1])
print("first 3", z[:3])
print("last 3", z[-3:])

first 0
last 14
first 3 [0, 1, 2]
last 3 [12, 13, 14]

In [19]:
# this index notation also applies to strings
name = "Bhadla Solar Park"
print(name[:6])

Bhadla

In [66]:
# you can also test for the presence of items in a list
5 in z

False

Python is full of tricks for iterating and working with lists

In [67]:
# a cool Python trick: list comprehension
squares = [n**2 for n in range(5)]
squares

[0, 1, 4, 9, 16]

In [68]:
# iterate over two lists together uzing zip
for item1, item2 in zip(x, y):
    print("first:", item1, "second:", item2)

first: 0 second: 10
first: 1 second: 11
first: 2 second: 12
first: 3 second: 13
first: 4 second: 14

We are almost there. We have the building blocks we need to do basic programming. But Python has some additional useful data structures we need to learn about.

## Dictionaries ##

This is an extremely useful data structure. It maps __keys__ to __values__.

:::{note}
Dictionaries are unordered!
:::

In [25]:
d = {
    "name": "Bhadla",
    "capacity": 2.25,
    "technology": "photovoltaic",
}

In [26]:
e = dict(name="Bhadla", capacity=2.25, fuel="photovoltaic")
e

{'name': 'Bhadla', 'capacity': 2.25, 'fuel': 'photovoltaic'}

In [27]:
# access a value
d["capacity"]

2.25

Square brackets ``[...]`` are used in Python for accessing values in many different contexts.

In [28]:
# test for the presence of a key
print("technology" in d)

True

In [29]:
# try to access a non-existant key
d["fuel"]

KeyError: 'fuel'

In [30]:
# a way around missing keys -> defaults
d.get("fuel", "OCGT")

'OCGT'

In [32]:
# add a new key
d["fuel"] = None
d

{'name': 'Bhadla',
 'capacity': 2.25,
 'technology': 'photovoltaic',
 'fuel': None}

In [33]:
# iterate over keys
for k in d:
    print(k, d[k])

name Bhadla
capacity 2.25
technology photovoltaic
fuel None

In [34]:
# better way
for k, v in d.items():
    print(k, v)

name Bhadla
capacity 2.25
technology photovoltaic
fuel None

## Functions ##

For longer and more complex tasks, it is important to organize your code into reuseable elements.

Cutting and pasting the same or similar lines of code is tedious and opens you up to errors.

Best practice is to follow the **DRY** principle: "don't repeat yourself".

In Python, you can use **functions** for this purpose.

Functions are a central part of advanced Python programming.

Functions take some inputs ("arguments") and do something in response.

Usually functions return something, but not always.

In [35]:
# define a function without arguments
def say_hello():
    """Return the word hello."""
    return "Hello"

In [36]:
# functions are also objects
type(say_hello)

function

In [37]:
# this does
say_hello()

'Hello'

In [38]:
# assign the result to something
res = say_hello()
res

'Hello'

In [39]:
# take some arguments
def say_hello_to(name):
    """Return a greeting to `name`"""
    return "Hello " + name

In [40]:
# intended usage
say_hello_to("World")

'Hello World'

In [41]:
# take an optional keyword argument
def say_hello_or_hola(name, spanish=False):
    """Say hello in multiple languages."""
    if spanish:
        greeting = 'Hola '
    else:
        greeting = 'Hello '
    return greeting + name

In [42]:
print(say_hello_or_hola('Silvia'))
print(say_hello_or_hola('Juan', spanish=True))

Hello Silvia
Hola Juan

### Anonymous Functions

Anonymous functions do not need a name, and are usually defined with a so-called `lambda` expression.

Anonymous functions can only take up one line of code, so they are not appropriate in most cases, but can be useful for smaller operations.

In [43]:
def square(n):
    return n**2

In [44]:
square(3)

9

In [45]:
square = lambda n: n**2

In [46]:
square(2)

4

### Pure vs. Impure Functions

Functions that do not modify their arguments or produce any other side-effects are called [_pure_](https://en.wikipedia.org/wiki/Pure_function). 

Functions that modify their arguments or cause other actions to occur are called _impure_.

Below is an example for an impure function.

In [47]:
def remove_last_from_list(input_list):
    input_list.pop()

In [48]:
names = ["Max", "Martha", "Marie"]

In [49]:
remove_last_from_list(names)

In [50]:
names

['Max', 'Martha']

In [51]:
remove_last_from_list(names)

In [52]:
names

['Max']

We can do something similar with a pure function.

In general, pure functions are safer and more reliable, since they do not lead to unexpected value changes.

In [53]:
def remove_last_from_list_pure(input_list):
    new_list = input_list.copy()
    new_list.pop()
    return new_list

In [54]:
names = ["Max", "Martha", "Marie"]

In [55]:
new_names = remove_last_from_list_pure(names)

In [56]:
names

['Max', 'Martha', 'Marie']

In [57]:
new_names

['Max', 'Martha']

## Exercises

**Task 1:** What is 5 to the power of 5?

In [58]:
5**5

3125

**Task 2:** Split the following string into a list by splitting on the space character:

In [59]:
s = "Fundamentals of Solar Cells and Photovoltaic Systems Engineering"

In [60]:
s.split(" ")

['Fundamentals',
 'of',
 'Solar',
 'Cells',
 'and',
 'Photovoltaic',
 'Systems',
 'Engineering']

**Task 3:** Create a list with the names of every planet in the solar system (in order)

In [61]:
planets = [
    "Mercury",
    "Venus",
    "Earth",
    "Mars",
    "Jupyter",
    "Saturn",
    "Uranus",
    "Neptune",
]

**Task 4:** Have Python tell you how many planets there are by examining your list

In [62]:
len(planets)

8

**Task 5:** Use slicing to display the first four planets (the rocky planets)

In [63]:
planets[:4]

['Mercury', 'Venus', 'Earth', 'Mars']

**Task 6:** Iterate through your planets and print the planet name only if it has an "s" at the end

In [64]:
for p in planets:
    if p.endswith("s"):
        print(p)

Venus
Mars
Uranus

**Task 7:** Create a dictionary that contains the main facts about the Noor Abu Dhabi Solar power plant.

> https://en.wikipedia.org/wiki/Noor_Abu_Dhabi_Solar_Power_plant

In [69]:
Noor= {
    "Country": "United Arab Emirates",
    "Capacity": 1177,
    "Technology": "Photovoltaics",
    "Start of operation": "April 30, 2019",
}

**Task 8:** Use this dictionary to access the capacity.

In [70]:
Noor["Capacity"]

1177

**Task 9:** Add the power plant's approximate latitude and longitude to the dictionary.

In [72]:
Noor["x"] = 24.32
Noor["y"] = 55.36

**Task 10:** Write a function that converts units of energy from 'ktoe' to 'GWh'

> https://www.iea.org/data-and-statistics/data-tools/unit-converter

In [73]:
def ktoe_to_gwh(x):
    return 11.63 * x

**Task 11:** Write a more general unit conversion function that converts between all units of energy listed under the link below. The function should take arguments: for the original value, the original unit and the target unit. Implement the function in a way that the default target unit is "Wh".

> https://www.iea.org/data-and-statistics/data-tools/unit-converter

> You can also just pick three units to convert between if you don't feel like going through all combinations.

In [74]:
def to_joule(value, from_unit):
    if from_unit.endswith("cal"):
        return value / 0.2390
    elif from_unit.endswith("Btu"):
        return value / 0.0009478
    elif from_unit.endswith("Wh"):
        return value / 0.0002778
    elif from_unit.endswith("toe"):
        return value * 2.388e11
    elif from_unit.endswith("tce"):
        return value * 3.412e11
    else:
        raise NotImplementedError()

In [75]:
def convert_unit(value, from_unit, to_unit="Wh"):
    x = to_joule(value, from_unit)
    if to_unit.endswith("cal"):
        x *= 0.2390
    elif to_unit.endswith("Btu"):
        x *= 0.0009478
    elif to_unit.endswith("Wh"):
        x *= 0.0002778
    elif to_unit.endswith("toe"):
        x /= 2.388e11
    elif to_unit.endswith("tce"):
        x /= 3.412e11
    else:
        raise NotImplementedError()

    return x

In [76]:
convert_unit(200, "toe")

13267727999.999998

**Task 12:** Verify the function above by looping through all combinations of unit conversions and assert that applying the function back and forth results in the same value.

In [77]:
from itertools import product

In [78]:
units = ["cal", "Btu", "Wh", "toe", "tce"]

In [79]:
for i, j in product(units, units):
    x = convert_unit(convert_unit(100, i, j), j, i)
    print(x)

100.0
100.0
100.0
100.0
100.0
100.0
100.0
100.0
100.0
100.0
100.0
100.0
100.0
100.0
100.0
100.0
100.0
100.0
100.0
100.00000000000001
100.0
100.0
100.00000000000001
100.0
100.0

**Task 13:** Write code that uses a while loop to print odd numbers from 1 to 10.

In [80]:
number = 1
while number <= 10:
    if number % 2 != 0:  # Check if the number is odd
        print(number)
    number += 1

1
3
5
7
9